

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  
}

body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  display:none;
}